{% extends "layout.html" %}

{% block title %}
    Edit Task
{% endblock %}

{% block main %}
    <h3>Edit Task</h3>
    <td class="text-end">
        <form action="/updated" method="post">
            <input type="hidden" name="edit" value="{{ task.0 }}">
            {% for element in task %}
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder={{element.1}} type="text">
            </div>
            {{ nameError }}
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="description" placeholder= {{element.2}} type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="date" type="date" placeholder = {{element.3}}>
            </div>
            <button class="btn btn-light" type="submit">Finish Editing</button>
            {% endfor %}
        </form>
{% endblock %}
